apiVersion: v1
kind: Service
metadata:
  name: static-site-service
  labels:
    app: static-site
spec:
  type: ClusterIP
  selector:
    app: static-site
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
